h1, h2, p {
   text-align: center;
    font-family: 'Arial';
}
.elad {
    position: fixed;
    top: 2%;
    left: 2%;
    transform: rotate(-20deg);
    font-size: 36px
}
.home {
    color: black;
    text-decoration: none;
}